# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv

# Editor
.vscode

# Logging
logs

# Coverage reports
.coverage
.coverage.*
coverage.xml
htmlcov/

.DS_Store